<h1>Landmarks Form</h1>
<form class="" action="/landmarks" method="post">
  <p>Name</p>
  <input type="text" id="landmark_name" name="landmark[name]" value="">

  <p>Year Completed</p>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]" value="">

  <input type="submit" name="" value="Create New Landmark">
</form>
